@import 'reset';
@import 'colors';
@import 'type';
@import url(http://fonts.googleapis.com/css?family=Sarpanch);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $yellow;
  color: $blue;
  font-family: Sarpanch;
  text-align: center;
  top: 200px;

}

.text{
  margin-right: 10%;
  margin-left: 10%;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $red;
}
